<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-toolbar class="nav">BigBoss</mat-toolbar>



    <div class="container">

        <div class="container-banner">

        </div>

        <div class="form">
            <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Quantidade de Horas</mat-label>
                <input matInput placeholder="Ex. 1" value="0" type="number">
            </mat-form-field>
            </form>
        
                
            <form class="example-form">
            <mat-form-field>
                <mat-label>Dimensão</mat-label>
                <select matNativeControl required>
                    <option value="teste1">teste1</option>
                    <option value="teste2">teste2</option>
                    <option value="teste3">teste3</option>
                    <option value="teste4">teste4</option>
                </select>
            </mat-form-field>
            </form>
                
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Atividade</mat-label>
                    <input matInput placeholder="Ex. 1" type="text">
                </mat-form-field>
            </form>
                
        
            <section>
                <div class="example-button-row">
                    <button mat-stroked-button>Enviar</button>
                </div>
            </section>
        </div>
    </div>

    <div class="footer">

        <p>Todos os direitos reservados</p>
        <p>BigBoss</p>
    </div>
</body>
</html>




  